# Vivado generated directories
.cache/
.hw/
.ip_user_files/
.runs/
.sim/
.gen/
.Xil/

# Vivado logs and temporary files
*.jou
*.log
*.str

# Simulation files
*.wdb
*.pb

# Editor settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db